# Dependencies (المكتبات والكاش)
node_modules/
.vite/

# Environments (الملفات السرية والمفاتيح)
.env
.env.local
.env.development.local
.env.production.local

# Production Build (فولدر البلد النهائي)
dist/
dist-ssr/

# Logs
lines
*.log