 .locked {

  opacity: 0.7;
}

/* LOCK BADGE */

.lockBadge {

  display: flex;

  align-items: center;

  gap: 8px;

  background: rgba(255, 77, 77, 0.12);

  border: 1px solid rgba(255, 77, 77, 0.25);

  color: #ff4d4d;

  padding: 8px 16px;

  border-radius: 999px;

  font-size: 14px;

  font-weight: 600;
}
 .roadmap {

  width: 100%;
}

.title {

  font-size: 36px;

  font-weight: 700;

  margin-bottom: 30px;

  color: white;
}

/* TIMELINE */

.timeline {

  position: relative;

  display: flex;

  flex-direction: column;

  gap: 24px;
}

/* LESSON */

.lessonWrapper {

  position: relative;

  padding-left: 40px;
}

/* LINE */

.line {

  position: absolute;

  left: 11px;

  top: 40px;

  width: 2px;

  height: calc(100% + 24px);

  background: #1e90ff;
}

/* DOT */

.dot {

  position: absolute;

  left: 0;

  top: 30px;

  width: 24px;

  height: 24px;

  border-radius: 50%;

  border: 4px solid #1e90ff;

  background: #071120;
}

/* CARD */

.lessonCard {

  background: rgba(255,255,255,0.04);

  border: 1px solid rgba(255,255,255,0.08);

  border-radius: 24px;

  padding: 24px;

  transition: 0.3s;

  cursor: pointer;

  overflow: hidden;
}

.lessonCard:hover {

  transform: translateY(-5px);

  border-color: #1e90ff;

  box-shadow: 0 0 25px rgba(30,144,255,0.2);
}

/* HEADER */

.lessonHeader {

  display: flex;

  justify-content: space-between;

  align-items: center;

  gap: 20px;
}

.lessonLeft {

  display: flex;

  align-items: center;

  gap: 18px;
}

.number {

  width: 46px;

  height: 46px;

  border-radius: 16px;

  display: flex;

  justify-content: center;

  align-items: center;

  background: rgba(162,89,255,0.12);

  border: 1px solid rgba(162,89,255,0.3);

  color: #ff4fd8;

  font-weight: bold;
}

.lessonLeft h3 {

  color: white;

  font-size: 24px;

  margin-bottom: 6px;
}

.lessonLeft p {

  color: #9ca3af;

  font-size: 16px;
}

/* RIGHT */

.lessonRight {

  display: flex;

  align-items: center;

  gap: 14px;

  color: white;
}

/* BADGE */

.badge {

  background: rgba(0,255,136,0.12);

  border: 1px solid rgba(0,255,136,0.25);

  color: #00ff88;

  padding: 8px 18px;

  border-radius: 999px;

  font-size: 14px;

  font-weight: 600;
}

/* ROTATE */

.rotate {

  transform: rotate(180deg);

  transition: 0.3s;
}

/* VIDEO */

.videoBox {

  margin-top: 24px;

  border-radius: 20px;

  overflow: hidden;

  border: 1px solid rgba(255,255,255,0.08);
}

.videoBox iframe {

  width: 100%;

  height: 450px;

  border: none;
}

/* RESPONSIVE */

@media (max-width: 768px) {

  .lessonHeader {

    flex-direction: column;

    align-items: flex-start;
  }

  .videoBox iframe {

    height: 240px;
  }

}